.pool-info {
    width: 720px;
    height: 330px;
    padding: 10px;
    background-color: rgb(226, 224, 224);
    border-radius: 30px ;
    color:rgb(73, 72, 72);
}

.k {
    color: red ;
    font-size: 7px;
}

.poolname {
    font-weight: 600;
}
.poolAmount {
    color:rgb(94, 92, 92);
}

input {
    width: 100px; 
    height: 35px;
    padding: 10px 20px; 
    border-radius: 6px;
    border: 1px gray solid;
    box-sizing: border-box; 
}

button{
    background-color: gray;
    color: white;
    width: 60px;
    height: 35px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    border: 1px gray solid;
}